[flake8]
# Using line lengths of 100 characters
max-line-length = 100
# Ignore T001 for now. Need diagnostic print statments until logging set up.
ignore = E265 E221 E203 E201 E124 E202 E241 E251 W293 W291 W504 W503 T001
docstring-convention = google
exclude = setup.py
per-file-ignores =
    tests/**/*.py: F811 F401
    tests/*.py: F811 F401
